<div class="container" id="myfooter" style="margin-top:20px; background-color:#7BD5C6">
	<footer class="footer-bs" >
		<div class="row" >
			<div class="col-md-4">
				<h2 style="margin-left:50px">AstroFitness</h2>
			</div>
			<div class="col-md-4">              
				<ul class="footul">
					<li><h4>Site</h4></li> 
					<li><a href="#">Clubs</a></li>
					<li><a routerLink="trainer-application">Trainer? Apply here!</a></li>                          
					<li><a routerLink="forum-page">Forum</a></li>                                  

				</ul>
			</div>
			<div class="col-md-4 footer-social">
				<ul class="footul" >
					<li><h4>Contact Us</h4></li>
					<li><a routerLink="#">astronauts@fitness.com</a></li>
					<li><a routerLink="#">234-984-8374</a></li>        
				</ul>
			</div>
		</div>
	</footer>
	<section style="text-align:center; margin:10px auto;"><p>© 2018, All rights reserved</p></section>
</div>
