
<div class="jumbotron text-center" style="background-color:#7BD5C6">
		<div><h2 style="color:white">Firstname: {{client.fname}}</h2></div>
		<div><h2 style="color:white">Lastname: {{client.lname}}</h2></div>
		<div><h2 style="color:white">Address: {{client.address}}</h2></div>
		<div><h2 style="color:white">email: {{client.email}}</h2></div>
</div>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
			<app-appointments></app-appointments>
	</div>
	<div class="col-sm-4">
			<app-forum-page></app-forum-page>
	</div>
</div>