<div class="collapse navbar-collapse js-navbar-collapse navbar-fixed-top" style="background-color:gray">
  <a class="navbar-brand brand" href="index.html">
<span class="glyphicon glyphicon-home">AstroFitness</span></a>
   <ul class="nav navbar-nav">
     
 </ul>
 <ul class="nav navbar-nav navbar-left">
      <li class="glyphicon glyphiconbriefcase"> <a href="#Reimb-insight">
         Find a Club</a>
     </li>
  </ul>
   <ul class="nav navbar-nav navbar-left">
     <li class="glyphicon glyphiconbriefcase">
      <a href="#about-cont">About</a> </li >
  </ul>
  <ul class="nav navbar-nav navbar-left">
     <li class="glyphicon glyphiconearphone">
     <a href="#myfooter"> Contact</a>
     </li>
  </ul>
  
  <ul class="nav navbar-nav navbar-right">
          <li class="glyphicon glyphiconearphone">    
      <a routerLink="../sign-up"><span></span> &nbsp; Join Now</a>
      </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
          
          <li class="glyphicon glyphiconearphone">
              <a routerLink="../user-login"><span class="glyphicon glyphicon-log-in"></span> &nbsp; My Account</a>
          </li>
   </ul>
   
</div>