<div class="jumbotron text-center" style="background-color:#7BD5C6">
  <table>
    <tr>
      <th>Time</th>
      <th>Post</th>
    </tr>
    <tr *ngFor="let post of posts">
      <td>{{ post.comment_date }} at {{post.comment_time}}</td>
      <td>{{ post.forum_comment }}</td>
    </tr>
  </table>
  <form data-toggle="validator" role="form" method="POST" (ngSubmit)="submit()" #registerForm="ngForm" >
    <input type="text" placeholder="Comment" required [(ngModel)]="newForum.forum_comment" id="forum_comment" name="forum_comment">
    <input type="submit" value="Submit">
  </form>
</div>